{% extends 'base.html' %}
{% load static %}

{% block titulo %} Index | {% endblock %}
{% block 'titulo_pagina_principal' %} Resumo pedidos {% endblock %}
{% block 'titulo_pagina_link' %} Painel de pedidos{% endblock %}

{% block 'conteudo' %}

<!-- Default box -->

<div class="card card-solid">
  <div class="card-body pb-0" style="border: solid 1px; border-color: #cfcfcf;">
    <div class="row">


      <!-- Numero pedido -->
      <div class="col-md-2">
        <div class="form-group">
          <label>Nº do pedido:</label>
          <input type="text" class="form-control" placeholder="000000">
        </div>
      </div>

      <!-- Check Box -->
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-4">
            <b> Status: </b>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
              <label for="customCheckbox1" class="custom-control-label">Pedidos</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="customCheckbox2" value="option1">
              <label for="customCheckbox2" class="custom-control-label">Produção</label>
            </div>
          </div>

          <div class="col-md-6 mt-4">

            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="customCheckbox3" value="option1">
              <label for="customCheckbox3" class="custom-control-label">Rota de entrega</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="customCheckbox4" value="option1">
              <label for="customCheckbox4" class="custom-control-label">Finalizado</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-1 mt-5">
        <div class="form-group">
          <button type="button" class="btn btn-block btn-primary btn-sm">Buscar</button>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="card card-solid">
  <div class="card-body pb-0">
    <div class="row">

      <div class="col-md-3">
        <div class="card card-gray">
          <div class="card-header">
            <h3 class="card-title">Pedido #456045604</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body complement-cards complement-cards-body gray " style="display: block">
            <b style="font-size: 20px;"> Pendente de aceitação </b>
            <hr>        
            <b> Andreia Lúcia</b>
            </br>
            Telefone: (11) 9 5363-5910
            </br>
            Rua uruguai, 161 Jardim bela Vista
            </br>
            <hr>
            <b>
              1x Mussarela / Calabresa
              </br>
              1x Dolly uva
              </br>
              <hr>
            </b>
            <b>
              Débito
            </b>
            <hr>
            <div class="row mt-2">

              <div class="col-md-3 col-3">

              </div>

              <div class="col-md-3 col-3">
                <button type="button" class="btn btn-block btn-outline-success btn-sm circle-bottom"> <i class="fa fa-check fa-2xl"
                    style="color: green;"></i></button>
              </div>
              <div class="col-md-3 col-3">
                <button type="button" class="btn btn-block btn-outline-danger btn-sm circle-bottom"><i class="fa-solid fa-xmark fa-2xl"
                    style="color: #dc3545;"></i> </button>
              </div>

              <div class="col-md-3 col-3">

              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>




      <div class="col-md-3">
        <div class="card card-purple ">
          <div class="card-header">
            <h3 class="card-title">Pedido #456045604</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body complement-cards complement-cards-body purple" style="display: block">
            <b style="font-size: 20px;"> Em produção </b>
            <hr> 
            
            <b> Andreia Lúcia</b>
            </br>
            Telefone: (11) 9 5363-5910
            </br>
            Rua uruguai, 161 Jardim bela Vista
            </br>
            <hr>
            <b>
              1x Mussarela / Calabresa
              </br>
              1x Dolly uva
              </br>
              <hr>
            </b>
            <b>
              Débito
            </b>
            <hr>
            <div class="row mt-2">

              <div class="col-md-3 col-3">

              </div>

              <div class="col-md-6 col-6">
                <button type="button" class="btn btn-block btn-primary btn-sm"> <i class="fa-solid fa-location-dot" style="margin-right: 4px;"></i>
                   Saiu pra entrega</button>
              </div>             

              <div class="col-md-3 col-3">

              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>



      <div class="col-md-3">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Pedido #456045604</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body complement-cards complement-cards-body info" style="display: block;">
            <b style="font-size: 20px;"> Rota de entrega </b>
            <hr> 
            
            <b> Andreia Lúcia</b>
            </br>
            Telefone: (11) 9 5363-5910
            </br>
            Rua uruguai, 161 Jardim bela Vista
            </br>
            <hr>
            <b>
              1x Meia mussarela / Meia Calabresa
              </br>
              1x Dolly uva
              </br>
              <hr>
            </b>
            <b>
              Forma de pagamento: Débito
            </b>
            <hr>
            <div class="row mt-2">
              <div class="col-md-2">

              </div>
              <div class="col-md-8">
                <button type="button" class="btn btn-block btn-primary btn-sm"> <i class="fa-solid fa-check" style="margin-right: 4px;"></i>
                  Entregue</button>
              </div>

              <div class="col-md-2">

              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>


      <div class="col-md-3">
        <div class="card card-info">
          <div class="card-header" style="background-color: #20c997;">
            <h3 class="card-title">Pedido #456045604</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body complement-cards complement-cards-body teal" style="display: block;">
            <b style="font-size: 20px;"> Finalizado </b>
            <hr> 
           
            <b> Andreia Lúcia</b>
            </br>
            Telefone: (11) 9 5363-5910
            </br>
            Rua uruguai, 161 Jardim bela Vista
            </br>
            <hr>
            <b>
              1x Meia mussarela / Meia Calabresa
              </br>
              1x Dolly uva
              </br>
              <hr>
            </b>
            <b>
              Forma de pagamento: Débito
            </b>
            
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>

    </div>
  </div>
</div>

{% endblock %}